
//  =================
//      Imports
//  =================

@import '../../base/base';    // Base Variables

.t-meta-time {
    min-width: 100% !important;
    max-width: 100% !important;
}

// for unverified accounts
#content.unverified {
    margin-top: 85px;
    margin-bottom: 0;
    margin-left: 0;
}

.step-0{
    padding-left: 25%;
    padding-right: 25%;

    button{
        height: 100px;
        font-size: xx-large;
    }
}

.step-5{
  height: 100vh;

  .pyro-body{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    img{
      height: 100%;
      width: 50%;
      margin: auto;
    }
  }
}

.step-6{
  height: 100vh;

  .pyro-body{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;

    img{
      width: 50%;
      margin: auto;
    }
  }
}

.table-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    > li {
        display: inline-block;
        margin: 0 2px;
        line-height: 1;

        > a {
            display: inline-block;

            i {
                margin: 0;
                color: #555;
                font-size: 16px;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.button-controls {
    padding: 0;
    margin: 5px 0;
    list-style: none;

    > li {
        display: inline-block;
        margin: 0 2px;
        line-height: 1;

        > a {
            display: inline-block;

            i {
                margin: 0;
                color: #555;
                font-size: 16px;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }
            
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    color: #3b3f5c !important;
}

$particles: 60;
$width: 500;
$height: 400;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}



.chat-box {
  position: relative;
  width: 100%;
  background-image: url(../../images/bg.png);
  border: 1px solid #d3d3d3;

  .chat-not-selected {
      display: flex;
      height: 100%;
      justify-content: center;

      p {
          align-self: center;
          font-size: 18px;
          color: $dark;
          margin-bottom: 0;
          font-weight: 600;
          background: $m-color_4;
          padding: 7px 20px;
          border-radius: 6px;
          -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
          box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);

          svg {
              vertical-align: middle;
              color: $m-color_6;
          }
      }
  }

  .overlay-phone-call {
      &.phone-call-show {
          opacity: 1;
          z-index: 4;
      }

      display: none;
      position: absolute;
      width: 100%;
      height: calc(100vh - 179px);
      z-index: -1;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      background-color: rgba(3, 3, 5, 0.66);
      background-attachment: fixed;
      background-size: contain;
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);

      > div {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;

          .calling-user-info {
              padding: 20px 16px;

              svg {
                  font-size: 28px;
                  margin-right: 12px;
                  color: #fff;
                  vertical-align: middle;
                  cursor: pointer;
              }

              .user-name {
                  font-size: 20px;
                  color: #fff;
                  vertical-align: middle;
                  margin-right: 8px;
              }

              .call-status {
                  vertical-align: sub;
                  color: #fff;
                  font-size: 10px;
                  font-weight: 600;
              }
          }

          .calling-user-img {
              text-align: center;

              img {
                  border-radius: 50%;
                  border: 4px solid $m-color_2;
              }

              .timer {
                  visibility: hidden;
                  font-size: 16px;
                  font-weight: 600;
                  margin-top: 7px;
                  color: #fff;

                  .minutes,
                  .seconds {
                      color: #ffffff;
                  }
              }
          }

          .calling-options {
              text-align: center;

              svg {
                  font-size: 25px;
                  border-radius: 50%;
                  padding: 11px;
                  background: rgba(21, 21, 22, 0.28);
                  margin-bottom: 23px;
                  color: #fff;
                  cursor: pointer;
                  width: 48px;
                  height: 46px;
                  -webkit-transition: all 0.35s ease;
                  transition: all 0.35s ease;
                  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.67);

                  &:hover {
                      -webkit-transform: translateY(-5px) scale(1.02);
                      transform: translateY(-5px) scale(1.02);
                  }

                  &:not(:last-child) {
                      margin-right: 7px;
                  }

                  &.switch-to-microphone {
                      position: relative;

                      &.micro-off:after {
                          content: '';
                          height: 35px;
                          width: 2px;
                          background: #fff;
                          position: absolute;
                          left: 20px;
                          top: 6px;
                      }
                  }

                  &.cancel-call {
                      background-color: $danger;
                  }
              }
          }
      }
  }
  
  .chat-box-inner {
      height: auto;

      .chat-meta-user {
          display: none;

          &.chat-active {
              display: flex;
              width: 100%;
              justify-content: space-between;
              background-color: $m-color_20;
          }

          .current-chat-user-name {
              padding: 14px 15px 15px 15px;

              span {
                  font-size: 15px;
                  color: $m-color_6;

                  img {
                      width: 30px;
                      height: 30px;
                      border-radius: 7px;
                      border-radius: 10px;
                      margin-top: 0px;
                      -webkit-transition: all 0.35s ease;
                      transition: all 0.35s ease;
                      margin-right: 10px;
                  }

                  .name {
                      color: $m-color_10;
                      font-weight: 600;
                  }
              }
          }

          &.chat-active .chat-action-btn {
              svg {
                  cursor: pointer;
                  color: $m-color_6;
                  margin-right: 6px;
                  vertical-align: middle;
                  width: 20px;
                  height: 20px;
                  fill: rgba(0, 23, 55, 0.08);
                  stroke-width: 1.6;

                  &:hover {
                      color: $primary;
                      fill: rgba(27, 85, 226, 0.2392156863);
                  }

                  &:not(:last-child) {
                      margin-right: 9px;
                  }
              }

              .dropdown-menu {
                  box-shadow: rgba(113, 106, 202, 0.2) 0px 0px 15px 1px;
                  top: 15px !important;
                  padding: 10px 0;
                  border-width: initial;
                  border-style: none;
                  border-color: initial;
                  border-image: initial;

                  &.show {
                      top: 35px !important;
                  }

                  a {
                      font-size: 12px;
                      font-weight: 700;
                      color: $m-color_6;
                      padding: 8px 16px;

                      svg {
                          color: $m-color_6;
                          margin-right: 6px;
                          vertical-align: middle;
                          width: 20px;
                          height: 20px;
                          fill: rgba(0, 23, 55, 0.08);
                      }

                      &.dropdown-item {
                          &.active,
                          &:active {
                              background-color: transparent;
                          }
                      }

                      &:hover svg {
                          color: $primary;
                          fill: rgba(27, 85, 226, 0.2392156863);
                      }
                  }
              }
          }
      }

      .chat-conversation-box {
          position: relative;
          margin: auto;
          width: 100%;
          height: 300px;
          overflow: auto;

          .chat {
              position: relative;
              display: none;
              overflow: hidden;
              padding: 30px 40px 0;
              -webkit-justify-content: flex-end;
              justify-content: flex-end;
              -webkit-flex-direction: column;
              flex-direction: column;

              &.active-chat {
                  display: block;
                  display: -webkit-flex;
                  display: flex;

                  .bubble {
                      -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
                      -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
                      -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
                      transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);

                      &:nth-of-type(1) {
                          -moz-animation-duration: 0.15s;
                          -webkit-animation-duration: 0.15s;
                          animation-duration: 0.15s;
                      }

                      &:nth-of-type(2) {
                          -moz-animation-duration: 0.3s;
                          -webkit-animation-duration: 0.3s;
                          animation-duration: 0.3s;
                      }

                      &:nth-of-type(3) {
                          -moz-animation-duration: 0.45s;
                          -webkit-animation-duration: 0.45s;
                          animation-duration: 0.45s;
                      }

                      &:nth-of-type(4) {
                          -moz-animation-duration: 0.6s;
                          -webkit-animation-duration: 0.6s;
                          animation-duration: 0.6s;
                      }

                      &:nth-of-type(5) {
                          -moz-animation-duration: 0.75s;
                          -webkit-animation-duration: 0.75s;
                          animation-duration: 0.75s;
                      }

                      &:nth-of-type(6) {
                          -moz-animation-duration: 0.9s;
                          -webkit-animation-duration: 0.9s;
                          animation-duration: 0.9s;
                      }

                      &:nth-of-type(7) {
                          -moz-animation-duration: 1.05s;
                          -webkit-animation-duration: 1.05s;
                          animation-duration: 1.05s;
                      }

                      &:nth-of-type(8) {
                          -moz-animation-duration: 1.2s;
                          -webkit-animation-duration: 1.2s;
                          animation-duration: 1.2s;
                      }

                      &:nth-of-type(9) {
                          -moz-animation-duration: 1.35s;
                          -webkit-animation-duration: 1.35s;
                          animation-duration: 1.35s;
                      }

                      &:nth-of-type(10) {
                          -moz-animation-duration: 1.5s;
                          -webkit-animation-duration: 1.5s;
                          animation-duration: 1.5s;
                      }
                  }
              }
          }
      }
  }

  .chat-footer {
      display: none;

      &.chat-active {
          display: block;
          padding: 6px 10px;
          background: $m-color_20;
      }
  }

  .chat-form {
      position: relative;
  }

  .chat-input {
      svg {
          position: absolute;
          color: $m-color_6;
          left: 11px;
          top: 12px;
          fill: rgba(0, 23, 55, 0.08);
          stroke-width: 1.6;
      }

      input {
          font-size: 16px;
          width: 100%;
          color: $dark;
          border: 0;
          outline: none;
          padding: 12px 16px 12px 43px;
          border: 1px dashed $m-color_6;
          background: $m-color_20;

          &::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: $m-color_6;
          }

          &::-moz-placeholder {
              /* Firefox 19+ */
              color: $m-color_6;
          }

          &:-ms-input-placeholder {
              /* IE 10+ */
              color: $m-color_6;
          }

          &:-moz-placeholder {
              /* Firefox 18- */
              color: $m-color_6;
          }
      }
  }

  .bubble {
      font-size: 16px;
      position: relative;
      display: inline-block;
      clear: both;
      margin-bottom: 8px;
      padding: 9px 18px;
      vertical-align: top;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      word-break: break-word;
      max-width: 370px;

      &:before {
          position: absolute;
          top: 18px;
          display: block;
          width: 8px;
          height: 6px;
          content: '\00a0';
          -moz-transform: rotate(29deg) skew(-35deg);
          -ms-transform: rotate(29deg) skew(-35deg);
          -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
      }

      &.you {
          float: left;
          color: $primary;
          background-color: #f6f6f6;
          -webkit-align-self: flex-start;
          align-self: flex-start;
          -moz-animation-name: slideFromLeft;
          -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
          -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
          box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);

          &:before {
              left: -3px;
              background-color: #fff;
          }
      }

      &.me {
          float: right;
          color: #fff;
          background-color: $primary;
          -webkit-align-self: flex-end;
          align-self: flex-end;
          -moz-animation-name: slideFromRight;
          -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
          -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
          box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);

          &:before {
              right: -3px;
              background-color: $primary;
          }
      }
  }

  .conversation-start {
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      text-align: center;

      span {
          font-size: 12px;
          color: $dark;
          margin-bottom: 0;
          font-weight: 700;
          background: #fff;
          padding: 7px 20px;
          border-radius: 6px;
          -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
          box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
      }
  }
}